@font-face {
  font-family: 'PTSans';
  src: url('PT%20Sans_Regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'PTSans';
  src: url('PT%20Sans_Bold.woff2') format('woff2');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Viga';
  src: url('Viga-Regular-webfont.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}
