:local(.dialog) {
  display: flex;

  box-sizing: border-box;
  height: 100%;
  padding: 2px 18px 74px;

  flex-direction: column;
  justify-content: center;
  align-items: center;
}

:local(.illustration) {
  margin-bottom: 40px;
  width: 100%;
  max-width: 252px;
}

:local(.title) {
  margin: 0 0 22px;

  font-size: 21px;
}

:local(.buttons) {
  display: flex;

  width: 100%;
  max-width: 287px;

  justify-content: space-between;
}
