:local(.pause) {
  display: flex;

  box-sizing: border-box;
  height: 100%;
  padding: 2px 32px 64px;

  flex-direction: column;
  justify-content: center;
  align-items: center;
}

:local(.illustration) {
  width: 100%;
  max-width: 250px;
}

:local(.title) {
  margin: 40px 0 22px;

  font-size: 21px;
  font-weight: bold;
}

:local(.buttons) {
  display: flex;

  width: 100%;
  max-width: 260px;

  justify-content: space-between;
}
